/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$neon-orange: #FE812F;
$mint: #96B999;
$burnt-orange: #CA3A05;
$orange: #ff9E00;
$bright-blue: #0000FF;
$violet: #D886FE;
$beige: #FCEDD5;
$gray: #DBDAD6;
$green: #28CE75;
$pink: #FC8EA7;
$light-pink: #FFCFCB;
$neon-blue: #3803FE;
$fanta: #FF5A00;
$neon: #C6F209;
$violet-pink: #F6CBF4;
$tangerine: #FF6000;
$purple: #9677DE;
$banana-leaf: #A9F185;
$blood-orange: #EF4136;
$jade: #005445;
$lipstick-red: #D10000;
$bright-green: #1CC196;
$hotpink: #F53C49;
$retro-orange: #F36C00;

$grey: rgba(173,168,168,1);











