#about{
    padding: 64px 0;
    background-color: black;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";


    @include lg{
        padding: 74px 0;
    }

    >div{
      grid-area: header;
        
        #about-content{
            color: white;
            text-align: left;
            h1{
                margin-bottom: 15px;
                font-family: 'Averia Libre', cursive;
                // font-style: italic;
                font-size: rem-calc(50);
            }
        }
    }
    }
    
