/* =============
    Base
============= */
body{
    // background-color: black;

    .number{
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        font-size: rem-calc(100);
        // margin-bottom: 15px;
    }
}