/* =============
    Base
============= */
body{
    // background-color: black;

    .number{
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        font-weight: 100;
        font-stretch: 50%;
        font-size: rem-calc(120);
        // margin-bottom: 15px;
    }


    .categories{
        font-weight: 300;
        font-size: rem-calc(60);
        margin-bottom: 30px;
    }
}