/* =============
    Base
============= */
body{
    // background-color: black;

    .number{
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        font-weight: 500;
        font-size: rem-calc(120);
        // margin-bottom: 15px;
    }


    .categories{
        font-weight: 300;
        font-size: rem-calc(60);
        margin-bottom: 30px;
        font-style: italic;
        // font-family: 'Lexend Deca', sans-serif;
        // font-family: 'Averia Libre', cursive;
        font-family: 'Cormorant Garamond', serif;
        
    }
}