/* =============
    Typography
============= */
body{
 
    font-family: 'Fahkwang', sans-serif;
    .number{
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        font-size: rem-calc(60);
        margin-bottom: 15px;
    }

}

a {
    text-decoration: none;
}

ul{ 
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}


p{
    padding: 0;
    margin: 0;
}

figure{ 
    padding: 0;
    margin: 0;
}