/* =============
    Typography
============= */
body{
    font-family: 'Cormorant Garamond', serif;

}

a {
    text-decoration: none;
}

ul{ 
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}