/* =============
    Typography
============= */
body{
 
    font-family: 'Roboto', sans-serif;


}

a {
    text-decoration: none;
}

ul{ 
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}


p{
    padding: 0;
    margin: 0;
    font-weight: 300;
}

figure{ 
    padding: 0;
    margin: 0;
}