#gdfiles {
   display: grid;
   grid-template-columns: 16px auto 16px;
   grid-template-areas: ". gdfiles .";
   background-color: $black;

   padding-top: 64px;

   @include lg {
      grid-template-columns: auto 800px auto;
   }


   @include xl {
      grid-template-columns: auto 1200px auto;
   }


   >div {
      grid-area: gdfiles;

     


      ul {
         @include md {

            li {
               padding-bottom: 64px;

            }
         }

 @include lg {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-areas: "f1 . ."
                              ". f2 ."
                              ". . f3"
                              ". f4 ."
                              "f5 . ."
                              ". . f6";
         gap: 15px;
      }


         #f1 {
            grid-area: f1;
         }

         #f2 {
            grid-area: f2;
         }

         #f3 {
            grid-area: f3;
         }

         #f5 {
            grid-area: f5;
         }

         #f4 {
            grid-area: f4;
         }

         #f6 {
            grid-area: f6;
         }
      }












   }
}