#hanoi{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hanoi .";
    background-color: $black;
    padding: 64px 0;

    color: white;

    @include md{
        grid-template-columns: 32px auto 32px;
    }

     >div{
         grid-area: hanoi;
         
         @include md{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              grid-template-areas: ". hanoi-image"
                                   "hanoi-content hanoi-image";
         }

         #hanoi-content{
             color: white;
             margin-bottom: 15px;

             @include md{
                 grid-area: hanoi-content;
                justify-content: right;
                 
             }
         }

         #hanoi-image{
             background-image: url("../img/hanoi_poster/hanoi-poster.png");
             background-position: cover;
             background-size: cover;
             height: 700px;

             @include md{
                 grid-area: hanoi-image;
                 height: 781px;
             }

         }
     }
}