#hanoi{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hanoi .";
    background-color: black;
    padding-bottom: 64px;

    color: white;

     >div{
         grid-area: hanoi;

         #hanoi-content{
             color: white;
             margin-bottom: 15px;
         }

         #hanoi-image{
             background-image: url("../img/hanoi_poster/hanoi-poster.png");
             background-position: center;
             height: 800px;
         }
     }
}