#hanoi{
    
     >div{

         #hanoi-content{
            //  color: white;
             margin-bottom: 15px;

           
         }

         #hanoi-image{
             background-image: url("../img/hanoi_poster/hanoi-poster.jpg");
             background-position: center;
             background-size: cover;
             height: 630px;
            

             @include lg{
                 height: 480px;

             }

             @include xl{
                 height: 680px;
             }

           

         }
     }
}