#hero{
    margin-top: -240px;

    @include md{
        margin-top: -300px;

    }

    @include xl{
        margin-top: -230px;

    }
    

    
    >div{
    background-image: linear-gradient($grey, $grey), url("../img/m&m/mai.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
 
     @include md{
         height: 110vh;
     }

    #hero-content{
        color: $cam;
        font-weight: 400;
        font-size: rem-calc(30);
        text-align: center;
        margin: 0 16px;
        font-family: 'Averia Libre', cursive;


     p{
       
         margin-bottom: 15px;
         

         span{
             font-style: italic;

         }
     }

     p1{
        span{
            font-style: italic;
          
        }
     }

     
     
    }
    }
  
}
