#jeanne {
 

    >div {
        @include lg {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: ". j-image"
                "j-content j-image";
           
        }

        #jeanne-image {
            background-image: url("../img/jeanne-gang/jeanne.png");
            background-size: cover;
            background-position: center;
            height: 520px;


            @include md{
                height: 630px;
                background-position: -10px;
            }

            @include lg{
                height: 420px;
                background-position: center;
                grid-area: j-image;
            }

            @include xl{
                height: 600px;
            }

        }

        #jeanne-content {
            // color: white;
            grid-area: j-content;

            @include lg{
                 text-align: right;
                 margin-right: 20px;
            }
           
        }
    }
}