#jeanne {
 

    >div {
       

        #jeanne-image {
            background-image: url("../img/jeanne-gang/jeanne.png");
            background-size: cover;
            background-position: center;
            height: 600px;


            @include md{
                height: 680px;
                background-position: -20px;
            }

            @include lg{
                height: 420px;
            }

            @include xl{
                height: 600px;
            }

        }

        #jeanne-content {
            color: white;
        }
    }
}