#morean{

    >div{
      

        #morean-image{
            background-image: url("../img/morean/MoreanB.jpg");
            background-size: cover;
            background-position: -90px center;
            height: 600px;

            @include lg{
                height: 410px;
                background-position:  -50px center;
            }
        }

        #morean-content{
            color: white;
        }
    }
}