#morean{

    >div{
      

        #morean-image{
            background-image: url("../img/morean/MoreanB.jpg");
            background-size: cover;
            background-position: -90px center;
            height: 600px;

            @include md{
                height: 590px;
            }

            @include lg{
                height: 410px;
                background-position:  -60px center;
            }

            @include xl{
                height: 600px;
                background-position: -90px center;
            }
        }

        #morean-content{

            color: white;
        }
    }
}