#photography{
   

    >div{
    
     #p-image{
         background-image: url("../img/m&m/Mai1.png");
         background-position: cover;
         background-size: cover;
         height: 680px;


         @include md{
             height: 700px;
         }

         @include lg{
             height: 460px;
         }

         @include xl{
             height: 670px;
         }
     }


    }
}