#tattoos-opening{
  
  background-color: $black;
    color: white;
   
    padding-bottom: 64px;
   
    font-size: rem-calc(90);

@include md{
  padding-bottom: 74px;
}

@include lg{
  padding-bottom: 100px;
}

  p{ font-weight: 400;
      span{
          font-style: italic;
      }
  }
}