#tattoos-opening{
  //  background-image: linear-gradient(to right, $lipstick-red, $jade);
  background-color: $black;
    color: white;
    // text-align: center;
    padding: 64px 0;
    font-family: 'Averia Libre', cursive;
    font-weight: 300;
    font-size: rem-calc(80);

  p{
      span{
          font-style: italic;
      }
  }
}