#tattoos-opening{
  
  background-color: $black;
    color: white;
   
    padding-bottom: 64px;
    // font-size: rem-calc(90);
    overflow: hidden;

@include md{
  padding-bottom: 74px;
}

@include lg{
  padding-bottom: 100px;
}

  p{ font-weight: 400;
      span{
          font-style: italic;
      }
  }

  .wrapper{
    display: flex;
  }

  .text{
    font-size: clamp(7rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  }


}