#quote1 {
    background-color: black;
    // padding-bottom: 64px;  
    color: white;
    text-align: left;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". p .";

    @include lg {
        padding-bottom: 74px;
    }

    p {

        
        font-weight: 300;
        font-size: rem-calc(30);
        grid-area: p;

    }
}