#quote1{
    background-color: black;
    padding-bottom: 64px;  
    color: white;
    text-align: center;

    @include lg{
        padding-bottom: 74px;
    }

    h1{

        font-family: 'Cormorant Garamond', serif;
        font-weight: 300;
        font-size: rem-calc(30);
        margin-bottom: 15px;
    }
}