#quote1 {
    background-color: black;
    padding-top: 64px;  
    color: white;
    text-align: left;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". quote1 . ";

    @include lg {
        padding-bottom: 74px; 
        grid-template-columns: auto 1000px auto;
    }
    
    @include xl {
        grid-template-columns: auto 1400px auto;
    }

    >div{
        grid-area: quote1;


        #icon{
            display: flex;
            align-items: center;
            
            
            font-size: rem-calc(20);

            h5{
                margin-left: 15px;
            }
           
        }


         p {

        
        font-weight: 400;
        font-size: rem-calc(70);
        line-height: 1.5;
       
    }
    }

   
}