#univers {
  
    >div {
     
        #u-image {
            background-image: url("../img/univers/univers1.png");
            background-size: cover;
            background-position: center;
            height: 700px;


            @include lg {
                height: 480px;
            }

            @include xl {
                height: 680px;
            }
        }

        #u-content {
            color: white;
        }
    }
}