#univers {
  
    >div {
     

        @include lg {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: ". u-image"
                "u-content u-image";
          
        }
        
        #u-image {
            background-image: url("../img/univers/univers1.png");
            background-size: cover;
            background-position: center;
            height: 530px;



            @include md{
                height: 630px;

            }

            @include lg {
                height: 480px;
                grid-area: u-image;
            }

            @include xl {
                height: 680px;
            }
        }

        #u-content {
            grid-area: u-content;

            @include lg{
                text-align: right;
                margin-right: 20px;
            }
        }
    }
}