#wabisabi {


    color: white;

    >div {


        #wabisabi-image {
            background-image: url("../img/wabisabi/wabisabi1.png");
            background-size: cover;
            background-position: center;
            height: 560px;
            width: 85vw;

            @include md {
                grid-area: wabisabi-image;
                width: auto;
            }

            @include lg {
                height: 430px;
            }

            @include xl{
                height: 600px;
            }

        }

        #wabisabi-content {
            grid-area: wabisabi-content;
        }
    }
}