#wabisabi {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". wabisabi .";
    background-color: black;
    padding: 64px 0;

    color: white;

    >div {
        grid-area: wabisabi;

        @include md{
            display: grid;
            grid-template-columns: repeat(2, 1 rl);
            grid-template-areas: "wabisabi-image  ."
                                 "wabisabi-image  wabisabi-content";
        }

        #wabisabi-image {
            background-image: url("../img/wabisabi/wabisabi1.png");
            background-size: cover;
            background-position: center;
            height: 590px;

         @include md{
             grid-area: wabisabi-image;
         }
        }

        #wabisabi-content {
            grid-area: wabisabi-content;
        }
    }
}