/* =============
    Header
============= */
header {
    padding: 20px 0;

    width: 100%;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";


    @include lg {
        grid-template-columns: auto 1000px auto;
    }

    
    @include xl {
        grid-template-columns: auto 1400px auto;
    }




    >div {

        grid-area: header;

        display: grid;
        grid-area: header;
        grid-template-areas: " logo burger"
                               "nav nav";
        grid-template-columns: 30% auto;

        

        @include lg {
            grid-template-areas: "logo nav";
        }

        #logo-container {


            grid-area: logo;

            margin-top: 0;

            margin-bottom: 15px;

            width: 80%;

            @include md{
                width: 60%;
            }

            @include lg{
                width: 50%;
            }

            @include xl{
                width: 30%;
            }
            
        }


        #burger-container {

            

            cursor: pointer;
            position: absolute;
            grid-area: burger;
            height: 50px;
            width: 50px;


            @include md {
                display: none !important;
            }

            #burger {

                span {
                    width: 100%;
                    margin-top: 20px;
                    height: 3px;
                    position: absolute;
                    top: 50;
                    right: 0;
                    width: 100%;
                    background-color: white;

                    &:nth-child(2) {
                        top: 16px;
                        width: 100%;
                    }
                }
            }

        }


        #nav-container {
            grid-area: nav;

        }
    }


}